<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'search' %}" method="post">
        {% csrf_token %}
        Buscar por Nombre: 
        <input  type="search" placeholder="Buscar..." name="search">
        <button type="submit">
        Buscar
        </button>
    </form>

    <p>
        <a href="{% url 'index'%}">
            HOME
        </a>
    </p>
    <h1>Location</h1>
    <h2>Name: {{location.name}} </h2>
    <p>Type: {{location.type}}</p>
    <p>Dimension: {{location.dimension}}</p>

    <h2>Residents:</h2>
    <ul>
        {% for resident in location.residents %}
            <li>
                <a href="{% url 'character' resident.id %}">{{resident.name}}</a>
            </li>
        {% endfor %}
    </ul>

</body>
</html>