<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'search' %}" method="post">
        {% csrf_token %}
        Buscar por Nombre: 
        <input  type="search" placeholder="Buscar..." name="search">
        <button type="submit">
        Buscar
        </button>
    </form>
    <p>
        <a href="{% url 'index'%}">
            HOME
        </a>
    </p>
    <h1>
        Busqueda
    </h1>

    <h2>Término: {{search_query}}</h2>

    <h2>Characters:</h2>
    <ul>
        {% for character in characters %}
            <li>
                <a href="{% url 'character' character.id %}">{{character.name}}</a>
            </li>
        {% endfor %}
    </ul>
    {% if not characters %}
    <p>No Characters</p>
    {% endif %} 
    <h2>Locations:</h2>
    <ul>
        {% for location in locations %}
            <li>
                <a href="{% url 'location' location.id %}">{{location.name}}</a>
            </li>
        {% endfor %}
    </ul>
    {% if not locations %}
       <p>No Locations</p>
    {% endif %}

    <h2>Episodes:</h2>
    <ul>
        {% for episode in episodes %}
            <li>
                <a href="{% url 'episode' episode.id %}">{{episode.name}}</a>
            </li>
        {% endfor %}
    </ul>
    {% if not episodes %}
    <p>No Episodes</p>
    {% endif %}    


</body>
</html>